@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600&display=swap');

#image {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

body {
    background-color: #cb922b;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #5e3b18;
    text-align: center;
}

strong {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
    color: #5a671e;
}